@font-face {
    font-family: Bladerunner;
    src: url(bladerunner.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-image: url(bladerunner.jpg);
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.grid-container {
    text-align: center;
}

.grid-outer {
    background-color: rgba(255,255,255,0.5);
    display: inline-block;
    padding: 30px;
}

.grid {
    border: 1px solid black;
    display: inline-block;
    -webkit-user-select: none;
    background-color: #eeeeee;
}

.grid__row {
    overflow: hidden;
    -webkit-user-select: none;
}

.grid__row__cell {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    float: left;
    -webkit-user-select: none;
    cursor: pointer;
}

.grid__row__cell:hover {
    background-color: #f9f9f9;
}

/**
    Style tweaks.
**/
.grid__row__cell:last-child {
    border-right: none;
}

.grid__row:last-child > .grid__row__cell {
    border-bottom: none;
}

.title {
    text-align: center;
    font-family: Bladerunner;
    letter-spacing: 3px;
    font-size: 60px;
    color: #666666;
    margin: 21px 0 15px 0;
}